{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-2">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 170px">
          <h1 class="font-weight-semi-bold text-uppercase">Password Reset Complete</h1>
          <div class="d-inline-flex">
              <p class="m-0"><a href="{% url 'store:home' %}">Home</a></p>
              <p class="m-0 px-2">-</p>
              <p class="m-0">Password Reset Complete</p>
          </div>
      </div>
  </div>
  <!-- Page Header End -->

      <div class="container py-5">
        <div class="col-md-8 offset-md-2">

        {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}
        
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
           
            <h1>New Password Set Successfully.</h1>
            
            <div class="text-center">
              Let's <a href="{% url 'store:login' %}"> Login.</a>
            </div>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}